@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    .border-1px
        &&::after
            -webkit-transform: scaleY(0.7)
            transform: scaleY(0.7)

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
    .border-1px
         &&::after
            -webkit-transform: scaleY(0.5)
            transform: scaleY(0.5)
body,html
    font-weight: 200
    line-height: 1
    font-family: 'PingFang SC','STHeiti Light'
    margin: 0
    padding: 0
    color:white
.clearfix
    display inline-block
    &::after
        content: '.'
        display: block
        height: 0
        line-height: 0
        clear both
        visibility hidden