var format = function (text) {
  //初始化时text为空，无法读取到repalces属性
  if (!text) {
    return
  }
  // 原始数据中为\\n,多出来的两个\起到转义作用
  var reg = getRegExp("\\\\n", "img");

  return text.replace(reg, '\n&nbsp;&nbsp;&nbsp;&nbsp;');
}
var type=function(number){
  var type;
  switch (number) {
    case 100:
      type='电影'
      break;
    case 200:
      type = '音乐'
      break;
    default:
      type = '诗句'
  } 
  return type;

}
module.exports = {
  format: format,
  type:type
}